title = content_for(:title) || "Mysolat"
meta http-equiv="content-language" content="ms"
meta name="googlebot" content="notranslate"
meta name="robots" content="index, follow"
meta charset="UTF-8"
meta http-equiv="X-UA-Compatible" content="IE=edge"
meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=1, shrink-to-fit=no"
meta name="description" content="Waktu Solat di malaysia"
meta name="Keywords" content="Waktu Solat Kuala Lumpur, Putrajaya, waktu solat malaysia, waktu solat jumaat, solat.my, waktu.solat.my, waktu sembahyang, waktu syuruk, data waktu solat, sembahyang, masjid, malaysia, agama, Islam, muslim, jakim, api, api waktu solat, takwim solat"
meta name="Author" content="solat.my"
meta name="Copyright" content="Solat.My #{Date.current.year}"
meta name="Classification" content="Social, Religion, Islam, Malaysia"
meta name="Rating" content="General"
meta name="Language" content="Malay"
meta name="apple-mobile-web-app-capable" content="yes"
meta name="mobile-web-app-capable" content="yes"
link rel="icon" href="/icon.png" type="image/png"
link rel="icon" href="/icon.svg" type="image/svg+xml"
link rel="apple-touch-icon" href="/icon.png"
= tag.link rel: "manifest", href: pwa_manifest_path(format: :json)
= csrf_meta_tags
= csp_meta_tag
= action_cable_meta_tag
// Includes all stylesheet files in app/views/stylesheets
= stylesheet_link_tag :app, "data-turbo-track": "reload"
= javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
= stylesheet_link_tag "application", "data-turbo-track": "reload"
= yield :head
